header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 10vh;

    img {
        width: 10%;
        object-fit: contain;
    }

    nav {

        ul {
            display: flex;
            gap: 5vh;

            li {
                list-style-type: none;

                a {
                    color: #3b444e;
                }
            }
        }
    }

    #headerIconLinks {
        display: flex;
        gap: 5vh;

        img {
            width: 10vh;
            height: 10vh;
        }

    }

    #headerEnglishUSLang {
        display: flex;
        align-items: center;
        gap: 2vh;
        border: 1px solid #555;

    }
}